# frappe -- https://github.com/frappe/frappe is installed via 'bench init'
frappe>=14.0.0
pymysql
pypdf
python-dateutil
pytz
six
werkzeug>=0.9.4
jinja2>=2.7.0
markupsafe>=0.23
requests
redis
rq
click
pillow
babel
psutil
