frappe>=14.0.0
# Core dependencies
pypdf
python-dateutil
pytz
six
werkzeug
jinja2
markupsafe
click
pillow
pyyaml
requests
redis
rq
pymysql
psutil
bleach
watchdog
# Development dependencies
coverage
flake8
pytest
pytest-cov
